{{ $result := transform.HighlightCodeBlock . }}
<div id="hl-{{.Ordinal}}" class="hl">
  <div class="hl-meta">
    <div class="hl-file">
      <span class="type">{{.Type}}</span>
      {{ if .Attributes.file }}<span> / {{ .Attributes.file }}</span>{{ end }}
    </div>
    <div class="wrap" onclick="code_wrap(this)"></div>
    <div class="copy" onclick="code_copy(this)"></div>
  </div>
  <div class="hl-wrap">
    <pre><code class="code">{{- $result.Inner -}}</code></pre>
  </div>
</div>
{{ .Page.Store.Set "hasCode" true }}