{{ define "main" }}

{{ .Content }}
<h2 style="font-size: 1.3em;">Follow Me</h2>
{{ partial "social_media.html" . }}
<br>

<h2 style="margin-bottom: 0;font-size: 1.3em;">近期文章</h2>
<ul class="posts">
  {{ $latestPosts := .Site.RegularPages | first 5 }}
  {{ range $latestPosts }}
  <li>
    <span><time class="date">{{ .Date.Format "2006-01-02" }}</time></span>
    <div><span>{{ .Params.categories }}</span>&nbsp;/&nbsp;<a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
  </li>
  {{ end }}
</ul>
{{ end }}