{{ if .Store.Get "hasCode" }}
<script>
    function code_copy(button) {
        if (button.classList.contains('copied')) return;
        const codeBlock = button.parentNode.parentNode.querySelector("code");
        const selection = window.getSelection();

        selection.selectAllChildren(codeBlock);
        document.execCommand("copy");
        selection.removeAllRanges();

        button.classList.add('copied')
        setTimeout(() => button.classList.remove('copied'), 2000);
    }

    function code_wrap(button) {
        const container = button.parentNode.parentNode;
        const codeElement = container.querySelector("code");
        const wrapElement = container.querySelector(".hl-wrap");
        const preElement = container.querySelector("pre");
        let codeContent = null;
        if (preElement) {
            codeContent = codeElement;
            wrapElement.removeChild(preElement);
            wrapElement.appendChild(codeContent);
            button.classList.add('nowrap')
        } else {
            const pre = document.createElement("pre");
            pre.appendChild(codeElement);
            wrapElement.appendChild(pre);
            button.classList.remove('nowrap')
        }
    }
</script>
{{ end }}